

<div id="preview_box">
	<div id="preview_img"></div>
	<div id="preview_uploader"> Uploaded by <%= current_user.first_name.humanize %> </div>
</div>

<div id="preview_box">
	<div id="preview_img"></div>
	<div id="preview_uploader">Uploaded by username</div>
</div>

<div id="preview_box">
	<div id="preview_img"></div>
	<div id="preview_uploader"></div>
</div>

<div id="preview_box">
	<div id="preview_img"></div>
	<div id="preview_uploader"></div>
</div>