

<% Image.all.each do |i| %>
<div id="preview_box">
	<div id="preview_img"><%= image_tag i.image_url(:thumb).to_s %> </div>
	<div id="preview_uploader"> Uploaded by <%= i.uploaded_by.humanize %> </div>
</div>
<% end %>
