/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* */
/* Complete background */

#body {
	height: 100vh;
	width: 100vw;
	background-color: #8384B6;
}

/* Header and top of page navigation */

#header {
	height: 15vh;
	width: 80vw;
	background-color: #D1DEFF;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 2px 2px;

}

#header_img {
	height: 70%;
	width: 80%;
	float: left;
	padding-top: 4px;
	margin-left: auto;
	margin-right: auto;

}

#header_img p {
	text-align: center;
	font-size: 35px;
	color: grey;
	padding-left: 10%;
}

#logged_in {
	height: 25%;
	width: 15%;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
}

#logged_in ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

#logged_in ul li a {
	color: black;

}

#nav_bar {
	width: 80%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	
	padding-left: 0px;

}

#list {
	padding: 0px;
	margin: 0px;
}

.nav_button {
	width: 20%;
	list-style: none;
	text-align: center;
	float: left;
	margin-left: 4%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	color: lightgrey;
	background-color: #8384B6;
	font-size: 32px;

}

#current_user {

}


/* Page background */

#content {
	width: 80vw;
	height: 82vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	background-color: #D1DEFF;
}


/* Main page preview */

#preview_box {
	height: 20vh;
	width: 24%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	margin-left: .75%;
	margin-top: 8px;
}

#preview_img {
	height: 85%;
	width: 95%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	align-content: center;
}

#preview_img img {
	display: block;
	margin: auto;

}


#preview_uploader {
	height: 13%;
	width: 93%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-right: 5px;
	padding-top: 3px;

}

/* Signup and Login forms */

#signup_spacer {
	width:100%;
	height: 20%;
}

#splash_box {
	height: 32vh;
	width: 23vw;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #D3C4FF;

}

#splash_box h1 {
	margin: 7px;
}

.signup_input {
	height: 10%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	text-align: center;
	font-size: 15px;
}

.btn-submit {
	height: 10%;
	width: 25%;
	background-color: #8384B6;
	border: 0px solid white;
	margin-top: 10px;

}

#login_box .btn-submit{
	height: 55px;
}

.new_user {
	height: 30vh;
	width: 23vw;
	margin-left: auto;
	margin-right: auto;
}

#no_account_text {
	height: 25px;
	width: 45%;
	float: left;
	margin-top: 100px;
}
#no_account_text p {
	margin-top: 2px;
}

#signup_link  {
	height: 28px;
	width: 40%;
	float: left;
	margin-top: 95px;
	padding-top: 2px;
	background-color: #8384B6;
	color: black;
	text-decoration: none;
	border-radius: 3px;
}

/* Full image display */

#full_pic {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	/*float: left;*/
	overflow: hidden;
}

#full_pic img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#previous_img {
	float: left;
	margin-top: 25%;
}

#next_img {
	float: right;
	margin-top: 25%;

}

/* image upload form */

#upload_box {

}

#new_image {
	margin-top: 20%;
}
#upload_box .btn-submit {
	margin-top: 5%;
	height: 35px;
	font-size: 17px;
	border-radius: 5px;
}

#upload_box .signup_input {
}