
<div>
	<%= form_for @image, :html => {:multipart => true} do |f| %>
		<%= f.file_field :image %> <br />
		<%= f.hidden_field :uploaded_by, :value => current_user.id %>
		<%= f.submit "Upload", class: "btn-submit" %>
		<% end %>
</div>