

<% if @image.id >1 %>
<% then @prev_image = @image.id-1 %>
<% else @prev_image = 1 %>
<% end %>

<% if @image.id == Image.all.count%>
<% then @next_img = @image.id %>
<% else @next_img = @image.id+1 %>
<% end %>


<div id="previous_img"> 
<a href="/images/<%=@prev_image%>"> <i class="fa fa-arrow-left fa-4x"> </i> </a>
</div>

<div id="full_pic">

<a href="<%= @image.image_url %>">
	<%= image_tag @image.image_url(:display).to_s %>
</a>
</div>

<div id="next_img">
<a href="/images/<%=@next_img%>">	<i class="fa fa-arrow-right fa-4x"> </i> </a>
</div>