
<div id="previous_img"> 
<a href="/images/<%=@image.id-=1%>"><i class="fa fa-arrow-left fa-4x"> </i> </a>
</div>

<div id="full_pic">
	<%= image_tag @image.image_url(:display).to_s %>
</div>

<div id="next_img">
<a href="/images/<%=@image.id+=1%>">	<i class="fa fa-arrow-right fa-4x"> </i> </a>
</div>